<div class="inner">
	<ol>
		<li><%= link_to "Audio", basic_html_audio_path %></li>
		<li><%= link_to "Video", basic_html_video_path %></li>
		<li><%= link_to "Strong and EM", basic_html_strong_path %></li>
		<li><%= link_to "List", basic_html_list_path %></li>
		<li><%= link_to "A", basic_html_a_path %></li>
	</ol>
</div>